<img src="img/tina.png" alt="Tina Belcher" class="tina" title="Order here">
<img src="img/register.png" alt="Cash Register" class="register">
<img src="img/generic-burger.png" alt="Burger" class="burger burger1 hidden" data-position="1">
<img src="img/generic-burger.png" alt="Burger" class="burger burger2 hidden" data-position="2">
<img src="img/generic-burger.png" alt="Burger" class="burger burger3 hidden" data-position="3">
<img src="img/generic-burger.png" alt="Burger" class="burger burger4 hidden" data-position="4">
<img src="img/generic-burger.png" alt="Burger" class="burger burger5 hidden" data-position="5">

<div class="burger-display hidden" id="burgerDisplay"></div>

<div class="modal hidden" id="welcome">
  <img src="img/bob.png" alt="Bob" class="bob">
</div>

<div class="modal hidden" id="order-modal">
  <div class="container">
    <img src="img/order-modal.png" alt="menu" class="modal-order">
    <input type="text" id="burgerName" placeholder="BURGER NAME HERE">
    <button id="newBurger">ORDER</button>
  </div>
</div>

<div class="modal hidden" id="eaten-modal">
  <div class="container">
    <img src="img/eaten-modal.png" alt="menu" class="modal-order">
    <div class="list-container">
      <ul>
        {{#each burgers}}
          {{#if devoured}}
            <h2 data-id="{{id}}">{{burger_name}}</h2>
          {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>
</div>


{{!-- <ul id="burgerList">
  {{#each burgers}}
    {{#if devoured}}
    {{else}}
      <h1 data-id="{{id}}">{{burger_name}}</h1>
    {{/if}}
  {{/each}}
</ul>

<input type="text" id="burgerName">
<button id="newBurger">ADD BURGER</button>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      <h1 data-id="{{id}}">{{burger_name}}</h1>
    {{/if}}
  {{/each}}
</ul> --}}

