<h1>WORKING HANDLEBARS</h1>


<ul id="burgerList">
  {{#each burgers}}
    {{#if devoured}}
    {{else}}
      <h1 data-id="{{id}}">{{burger_name}}</h1>
    {{/if}}
  {{/each}}
</ul>

<input type="text" id="burgerName">
<button id="newBurger">ADD BURGER</button>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      <h1 data-id="{{id}}">{{burger_name}}</h1>
    {{/if}}
  {{/each}}
</ul>

